body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(50%);
    letter-spacing: 4px;
}
.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}
.btn:hover{
    background-color: white;
    color: black;
}
.split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url(https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1664009408/Croma%20Assets/Communication/Mobiles/Images/249840_0_ha9g80.png?tr=w-480);
    background-size: cover;
}
.split.right{
    position: absolute;
    right: 0;
    background-color:lightblue;
    background-image: url(https://image-us.samsung.com/SamsungUS/home/mobile/phones/pdp/galaxy-s21-fe-5g/gallery/SM-G990U-lavendar-1.png?$product-details-jpg$?$product-details-jpg$);
    background-size: cover;
}

.active-left .left{
    width: 70%;
}
.active-left .right{
    width: 30%;
}

.active-right .left{
    width: 30%;
}
.active-right .right{
    width: 70%;
}

.left, .right{
    transition: width 2s ease-in-out;
}